.footer {
  background-color: $color-bg-primary;
  display: flex;
  flex-direction: column;
  text-align: center;
  &__logo {
    margin-top: 154px;
    @media screen and (max-width: $container-width){
      margin-top: 60px;
    }
    @media screen and (max-width: $container-width){
      margin-top: 40px;
    }
    &__link {
      text-decoration: none;
      color: $color-text;
    }
  }
  &__paragraph {
    margin-top: 10px;
  }
  &__item {
    display: flex;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 40px;
  }
  &__list {
    margin: 0px 12px;
  }
  &__link {
    text-decoration: none;
    color: $color-text;
  }
}