form.header__form input[type=search] {
  padding: 19px 113px;
  font-size: 14px;
  letter-spacing: 2.8px;
  border: 2px solid $color-primary;
  float: left;
  width: 45%;
  color: $color-search;
  background: $color-primary;
  font-family: $font-secondary;
  text-overflow: ellipsis;
  text-align: center;
}
