$min-width: 320px;
$container-width: 1110px;

$font-size-small: 14px;
$font-size-primary: 16px;
$font-size-premid: 20px;
$font-size-mid: 22px;
$font-size-sec: 36px;
$body-line-height: 26px;

$font-primary: 'Aleo', serif;
$font-secondary: 'Josefin Sans', sans-serif;